@media (max-width: 768px) {
    /* Estilos para telas menores que 768px */
  }
  
@media (max-width: 992px) {
    /* Estilos para telas menores que 992px */
  }
  
@media (max-width: 1200px) {
    /* Estilos para telas menores que 1200px */
  }
  
  #totalPreco {
    background-color: rgb(110, 110, 110);
    border-color: rgb(110, 110, 110);
  }

  #encerrarPedido {
    background-color: rgb(241, 50, 50);
    border-radius: 10px;
  }

body {
	background-color: #fbfbfd;
	font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 16px; /* define o tamanho da fonte */
}

header {
    color: rgb(255, 2, 2);
    text-align: center;
    justify-content: center; 
}

#atendendo 
{
    color: red;
}

main {
    align-items: center;
    height: 200px;   
    text-align: center;
    justify-content: left; 
}

#texto {
    font-weight: bold;
}

form {
    background-color: rgba(221, 221, 221, 0.514);
    text-align: center;
}

#container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 10px;
    left: 0px;
    width: 300px;
    height: 200px;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(170, 170, 168);
    padding: 40px;
    box-sizing: border-box;
}


.button button {
    margin-top: 50px;
}

#body-home {
    background-color: white;
}

#body-logado {
    background-color: rgb(224, 220, 220);
}

#botaoLogin {
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
}

input {
    border-radius: 6px;
    border-color: rgb(235, 9, 9);
    border-top: 0cm;
}
 #linkHome {
    align-items: center;
    margin-top: -150px;
    background-color: rgb(255, 2, 2);
    width: 100%;
    height: 45px;
    text-align: center;
 }
 #linkA {
    margin-top: 20px;
    text-decoration: none;
    color: black;
 }
  


   #selecaoPersonalizada {
        -webkit-appearance: none;
        /* Remove estilo padrão do Chrome */
        -moz-appearance: none;
        /* Remove estilo padrão do FireFox */
        appearance: none;
        /* Remove estilo padrão do FireFox*/
        background-color:  rgb(196, 196, 196);
        /* Imagem de fundo (Seta) */
        background-position: 218px center;
        /*Posição da imagem do background*/
        width: 60px;
        /* Tamanho do select, maior que o tamanho da div "div-select" */
        height: 30px;
        /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
        border: 1px solid #ddd;
        text-align: center;
        border-radius: 10%;
   }

#optionPadrao {
    background-color: rgb(196, 196, 196);
   }
#optionLivre {
    background-color: rgb(42, 216, 7);
}
#optionOcupada {
    background-color: rgb(240, 8, 8);
}

#botaoMais {
    border-radius: 50%;
    background-color: green;
    color: white;
    border-color: black;
  }


#Mesa1 {
    margin-top: 20px;
}

#cardapioMesa {
    margin-left: 0px;
    margin-top: 0px;
}

#PedidoMesa1 {
    margin-left: 250px;
    margin-top: -270px;
    width: 160px;
    background-color: #ccc;
}

#temacoluna {
    background-color: rgb(94, 92, 92);
}